
@{
    ViewBag.Title = "CreateCV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>CreateCV</h2>*@
<h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

<h2>PERSONAL INFORMATION</h2>
<hr /> 

<div id="person-info">
   
</div>

    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/Model/cv-view.js"></script>
