@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to CV Generator</h1>
    <p class="lead">We help you to generate your CV!</p>
    <p><a href="Home/CreateCV" class="btn btn-primary btn-lg">Get Stared &raquo;</a></p>
</div>


<h1 align="center">Your progress for the moment</h1>
<div class="row">
    <div class="col-md-4">
        <h2>Personal Info</h2>
        <div class="c100 p25">
            <span>25%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Еducation</h2>
        <div class="c100 p25 green">
            <span>25%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Work experience</h2>
        <div class="c100 p25 orange">
            <span>25%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Mother Language</h2>
        <div class="c100 p25 orange">
            <span>25%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Other Language</h2>
        <div class="c100 p25 green">
            <span>25%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Skills</h2>
        <div class="c100 p25">
            <span>25%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>

    <div class="countainer">
        <div class="c100 p50 dark">
            <span>50%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>
</div>
