@{
    ViewBag.Title = "Preview documents";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1>@ViewBag.Title</h1>
            <div class="alert alert-dismissable alert-warning">
                <button data-dismiss="alert" class="close" type="button">&times;</button>
              Wellcome to  @ViewBag.Title

            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <h1>See document</h1>

            </div>
            <div class="col-lg-3">
                <h1>Document name</h1>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <h3><a href="#">Link</a></h3>

                </div>
                <div class="col-lg-3">
                    <h3>Document name</h3>

                </div>
            </div>
        <div class="row">
            <div class="col-lg-3">
                <h3><a href="#">Link</a></h3>

            </div>
            <div class="col-lg-3">
                <h3>Document name</h3>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <h3><a href="#">Link</a></h3>

            </div>
            <div class="col-lg-3">
                <h3>Document name</h3>

            </div>
        </div>
        </div>
